# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Type checker / linter caches
.mypy_cache/
.pyre/
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env
.env.*
.venv/
venv/
env/
ENV/
.python-version

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log

# Local caches and temporary files
.cache/
tmp/
temp/

# Large files
*.tif
*.parquet
*.gpkg
cmr_admin_boundaries.geojson.zip

# Virtual environments
.venv/
.venvt/
venv/
env/